[Desktop Entry]
Type=Application
Exec=freedcpp %U
Icon=freedcpp
Terminal=false
Name=FreeDC++
GenericName=DC++ Client
GenericName[ru]=Клиент DC++
Comment=DC++ Client
Comment[ru]=Клиент DC++
Categories=GTK;P2P;Network;FileTransfer;
Keywords=FileSharing;Chat;p2p;DirectConnect;ADC;DHT;
MimeType=x-scheme-handler/magnet;x-scheme-handler/dchub;x-scheme-handler/adc;x-scheme-handler/adcs;
